:host {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerLogin{
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    padding: 40px;
    border-radius: 10px;
  }

  .containerLogin:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }

  .containerLogin:not(:hover){
    transition: 0.5s;
    transform: scale(1.0);
  }

  .labelLogin {
    font-size: larger;
    
  }