<form
  (ngSubmit)="login()"
  *ngIf="!authService.isAuthenticated"
  #loginForm="ngForm"
  class="containerLogin"
>
  <mat-form-field>
    <mat-label class="labelLogin" for="token">Token Di Accesso</mat-label>
    <input
      matInput
      type="text"
      id="token"
      [(ngModel)]="token"
      name="token"
      required
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!loginForm.form.valid"
  >
    Accedi
  </button>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>

<app-home *ngIf="authService.isAuthenticated"></app-home>
